.footer {
  margin-left: 45rem;
  position: fixed;
  bottom: 0;
}
.form-bottom {
  padding-left: 15rem;
  margin-top: 10rem;
}
a {
  text-decoration: none;
}
.navbar {
  height: 3rem;
}
.nav-link {
  padding-left: 2rem;
}
#logout {
  float: right;
  margin-right: 2rem;
}
.login-form {
  width: 22%;
  text-align: center;
  margin-left: 40%;
  border: solid;
  height: 25%;
  margin-top: 10%;
}
.form-heading {
  width: 20rem;
  float: left;
}
.form-input {
  margin: 1rem;
}
.form-button {
  margin: 5rem;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
